<div class="container">
  {{#if addNewListing}}
     <form class="save-listing">
       <h1>New Listing</h1>
       <br>
       <div class="form-group">
         <label for="email">Email</label>
         {{input value=email id="email"}}
       </div>

       <div class="form-group">
         <label for="phone">Phone Number</label>
         {{input value=phone id="phone"}}
       </div>

       <div class="form-group">
         <label for="posting-title">Posting Title</label>
         {{input value=posting-title id="posting-title"}}
       </div>

       <div class="form-group">
         <label for="posting-body">Posting Body</label>
         {{input value=posting-body id="posting-body"}}
       </div>

       <div class="form-group">
         <label for="price">Price</label>
         {{input value=price id="price"}}
       </div>

       <div class="form-group">
         <label for="image">Image URL</label>
         {{input value=image id="image"}}
       </div>

       <button class="btn btn-lg btn-save"{{action 'saveListing' listing}}>Save</button>
     </form>

   {{else}}
      <button class="btn btn-lg btn-show"{{action 'listingFormShow'}}>Add New Listing</button>
  {{/if}}
</div>
