<h2>{{model.category.city.name}}/{{model.category.name}}/{{model.posting_title}}</h2>

<div class="container">
  <h4>{{model.posting_title}} - ${{model.price}}</h4>
  <img class="img-responsive listing-img" src="{{model.image}}" alt="" />
  <p>{{model.posting_body}}</p>
  <p>{{model.email}}</p>
  <p>{{model.phone}}</p>
  <p>{{model.posting_date}}</p>
</div>
