<h2>
  {{#link-to 'city' model.category.city.id}}
    {{model.category.city.name}}
  {{/link-to}}/
  {{#link-to 'category' model.category.id}}
    {{model.category.name}}
  {{/link-to}}/
  {{model.posting_title}}
</h2>


  <div class="container">
    <h4>{{model.posting_title}} - ${{model.price}}</h4>
    <div class="img-responsive">
      <img class="listing-img" src="{{model.image}}" alt="" />
    </div>
    <p>{{model.posting_body}}</p>
    <p>{{model.email}}</p>
    <p>{{model.phone}}</p>
    <p>{{model.posting_date}}</p>
  </div>
